
.navbar1 {
  overflow: auto;
  width: 100%;
  background-color: #23527c;
}
*:focus {
  border: 3px solid cornflowerblue;
  
}
.dropdown1 {
  float: right;
  /*padding-right: 50px;*/
  overflow: hidden;
}
.dropdown1 .dropbtn1 {
  font-size: 16px;  
  border: none;
  
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #4CAF50;
  font-family: inherit;
  margin: 0;
}
.dropdown1:hover .dropbtn1 {
  background-color: red;
}

.dropdown-content1 {
  display: none;

  right: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown1:hover .dropdown-content1 {
  display: block;
}
.navbar1 a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar1 a:hover{color: #4CAF50;}


form.example input[type=text] {
  padding: 10px;
  float: left;
  width: 80%;
 margin-top: 8px;
   font-size: 17px;
  }

form.example button {
  float: left;
  width: 20%;
 padding: 11.5px;
  margin-top:8px;
  color: white;
  cursor: pointer;
}
.pho
{
    border-radius: 100%;
    width:40px;
    height:40px; 
    margin-right:8px;
    background-image: url(../photo/log.png);
    background-size: 40px , 40px; 
     
}

